.text-info{
    color:#12adce !important;
}
.tex-sty{
    font-family: calibri;
    font-style: normal;
}
.main-footer {
    display: none;
}
.wrapper{
  background: url('/img/fondo.png') center center; background-repeat: repeat; background-size: 100% auto;
}
.navbar-brand  {
  /*background: transparent !important;*/
}
.nav_content {
  display: none;
}
/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

  .lead {
    margin: 0px !important;
    padding: 0px !important;
  }
  .text-lead {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #4F4F4F !important;
  }
  
  .detalle p{
    font-family: 'Calibri' !important;
    font-style: normal !important;
   
    font-size: 12px !important;
    line-height: 15px !important;
   
  }
  .detalle div{
    font-family: 'Calibri' !important;
    font-style: normal !important;
   
    font-size: 12px !important;
    line-height: 15px !important;
   
  }
  .detalle h3{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0FADCE;
  }
  .content-header {
    display: none;
  }
  .ml-5{
    margin: 0px !important;
    margin-top: 5px !important;
  }
  ./*container-fluid{
    margin-bottom: 112px !important;
  }*/

  /*body {
      
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
     
      text-align: justify;
  }*/
  .h1{
   
    font-weight: 700;
    font-size: 31px;
  }
  

  .conten-info   {
    margin-bottom: 122px !important;
    margin-top: 30px;
  } 
}
