
/*footer*/
.text-calibri{
    font-family: 'Calibri';
    font-style: normal;
}
.main-footer{
    display: none;
}
.text-f1{
    font-weight: 400; 
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #4F4F4F !important;
}

.text-f2{
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   text-align: center;
   text-decoration-line: underline;
   color: #0FADCE !important;
   cursor: pointer;
}
@media (min-width:100px) and (max-width: 767.98px) { 
    .ml-5, .mx-5 {
        margin-left: 0px !important;
    }

    .login-content{
        padding: 10px !important;
    }

    .profile-user-img{
        margin-top: 72px;
        padding: 3px;
        width: 195px;
        display: block !important;
    }
    .detalle-register{
        display: none;
    }

    .btn-outline-info{
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        border-color: white;
    }
    .btn-outline-info:hover{
      background: #0FADCE !important    ;
    }
    
    .btn_registrate_sty {
        margin-top: 12px !important;
        margin-bottom: 50px !important;
        padding: 0px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14.1031px !important;
        line-height: 17px !important;
        text-align: center !important;
        text-decoration-line: underline !important;
        color: #0FADCE !important;
    }
    .link_login{
        margin-bottom: 70px !important;
        margin-top: 12px !important;
    }

    .btn-regresar{
        display: none;
    }

    .nav-login-info{
        display: none;
    }

    .txt_log{
        margin-top: 50px;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 17.6289px;
        line-height: 21px;
        color: #0FADCE;
        margin-bottom: 0px;
    }
   
    .form_login{
        padding-left: 20px;
        padding-right: 20px;
    }

    .form_register{
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-outline-secondary{
        margin-top: 20px;
        padding-left: 20px !important;
    }
    .link-login{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14.1031px;
        line-height: 17px;
        text-align: center;
        text-decoration-line: underline;

        color: #0FADCE;
    }
    .none{
        display: none;
    }
    .main-footer{
        display: block;
    }
}
