/node_modules
/public/hot
/public/storage
/public/FotoPortada
/public/FotoPerfil
/public/PortadaNoticia
/public/Receta_medica

vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
