    body{
        font-family: 'Calibri';
        font-style: normal;
    }
 /* estilos nuevos bz */
    .bz-info {
        background-color: #2cb5bf61!important;
        color: #12adce!important;
    }
    .bz-warning {
        background-color: #ffc10766!important;
    }
    .bz-success {
        background-color: #28a74559!important;
    }
    .bz-success1{
        background-color: #4db199!important;
    }
    .bz-white {
        background-color: #fff!important;
        color: #12adce!important;
    }
    .bz-danger {
        background-color: #dc354552!important;
    }
    .bgz-info {
        background-color: #13c6ef!important;
        color: #fff !important;
    }
    .bgz-info:hover {
        color: #fff !important;
    }
    .bz-secondary {
        background-color: #bec5cc!important;
    }
    .vg{
        color: white;
    }
    /*.text-*/
     .text-info_{
        color:#13c6ef !important ;
     }

     .icon-info{
        color:#13c6ef !important ;
     }
   
    .border-info_ {
        border-color: #13c6ef!important; 
    }
    .btnx-info{
        background: #0FADCE !important;
        color: #fff;
    }

    .search{
           border-radius: 0px 50px 50px 0px !important;  
           /*width: 330px !important;*/
           width: 280px !important;
           height: 40px !important;

           /* Gris 1 */

           background: #F5F5F5;
           border-radius: 20px;
    }
    .btn-search{
        border-radius: 50px 0px 0px 50px !important;
        height: 40px !important;
    }

    .item-nav{
        width: auto;
        height: auto;
        /*margin-top: 1px;*/
        margin-right: auto !important;
        margin-left: auto !important;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        /*line-height: 18px;*/
        color: #4F4F4F;
    }

 /*estilos del perfil medico*/
    /*imagen perfil*/
    .widget-user .widget-user-image {
        left: 3%;
        margin-left:auto;
        position: absolute;
        top: 130px;
    }

    .widget-user .widget-user-image>img {
        border: 6px solid #0FADCE;
        height: auto;
        width: 160px;
    }
    /*portada perfil*/
    .widget-user .widget-user-header {
        height: 220px;
        padding: 1rem;
        text-align: left !important;
    }

    /*icono editar perfil*/
    .ribbon-wrapper {
        height: 48px !important;
        top: 98px;
        width: 10;
        padding: 1px;
        /*background-color: red;*/
        border-radius: 200px;
        transform: rotate(44deg);
    }
    .ribbon-wrapper .ribbon {
        box-shadow: 0 0 0px rgb(0 0 0 / 30%) !important;
        font-size: 1.4rem; 
        padding: auto;
        height: 0px;
        border: 0px solid  transparent;
    }

/*estilos de list del search*/
    .dropdown-menu-lgz {
     /*   max-width: 400px !important; */
        max-width: 110% !important; 
        min-width: 98% !important;
        padding: 0; 
        white-space: !important;
    }
    .dropdown-item2 {
        display: block;
        width: 100%;
        padding: .25rem 1rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: normal;
        background-color: transparent;
        border: 0;
    }

    .list-group-item {
        padding: .3rem 0rem !important;
    }

    .card{
        border: 0px !important;
    }


   