
 /* estilos nuevos bz */
    .bz-info {
        background-color: #2cb5bf61!important;
    }
    .bz-warning {
        background-color: #ffc10766!important;
    }
    .bz-success {
        background-color: #28a74559!important;
    }
    .bz-success1{
        background-color: #4db199!important;
    }
    .bz-danger {
        background-color: #dc354552!important;
    }
    .bgz-info {
        background-color: #13c6ef!important;
    }

    .vg{
        color: white;
    }
    /*.text-*/
     .text-info_{
        color:#13c6ef !important ;
     }

     .icon-info{
        color:#13c6ef !important ;
     }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #13c6ef;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .btnx-info{
        background: #0FADCE !important;
    }
/*responsive link informacion registro*/
    
    @media (max-width: 575.98px) {
      .imgl{
            width: 120px;
            margin:0px ;px;
      }
      .linkce{
        text-align: center;
        padding: 0px !important;
        margin: auto;
        text-align: center;
      }
      .ml-5{
        margin: 0px !important;
      }
      .h1{
        font-size: 2em;
      }
    }

    /*@media (min-width: 768px){ 
        .ml-5{
            margin:0px !important;
        }       
    }*/