
.card {
    box-shadow: 0 0 0px rgb(0 0 0 / 0%), 0 1px 3px rgb(0 0 0 / 0%) !important;
    margin-bottom: 1rem !important;
}  

.timeline>div>.timeline-item>.timeline-header {
    border-bottom: 0px solid rgba(0,0,0,.125);
    
}

.nav_content {
 display: none; 
}

 @media (min-width:100px) and (max-width: 767.98px) { 

    .container-fluid{
        padding: 0px !important;
    }
    .flex_titulo{
        margin: 0px !important;
    }
    .flex_content_coinsul{ 
        margin: 0px !important;
    }
    .flex_titulo a p{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #4F4F4F !important;
    }
    .description-block {
        font-family: 'Calibri' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 9.43827px !important;
        line-height: 12px !important;
        color: #0281A9 !important;
        margin: auto;
    }
    .info-box {
        height: 38px !important;
        margin-bottom: 0.1rem !important;
        min-height: 20px !important;
        padding: .2rem !important;
        width: 100%;
        border: 0.858025px solid #0FADCE;
        border-radius: 2.57407px;
    }
    .description-text{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 12.8704px;
        line-height: 16px;
        text-align: center;
        color: #606060;
    }
    .text-lead{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        /* O2H Turq */

        color: #0FADCE;
    }

 }