/*Sin registro*/

/*estilos del slider de informacion*/

/*icon flechas slider*/
#sliderInfo .carousel-control-next,  .carousel-control-prev{
  width: 40px; 
  background: #0FADCE;
  /*transform: rotate(180deg);*/
  border-radius: 200px;
  height: 40px;
  margin-top: 230px !important;
}

.text-info-s1{
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 61px;
  color: #4F4F4F;
}
.text-info-s2{
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3vw;
  line-height: 1.5vw;
  display: flex;
  color: #13c6ef ;
}
.div_2_text{
  width: 90%;
}
.div_3_text{
  width: 80%;
  margin: auto;
}
.text-calibri{
  font-family: 'Calibri' !important;
  font-style: normal !important;
  /*font-weight: 700;*/
}

.img-info{
  width: 339px;
  height: auto;
}

.card-info{
  height: 520px  ;
}
.text-menu{
  position: absolute;
  width: 25px;
  height: 12px;
  left: 18px;
  top: 35px;

  font-family: 'Calibri';
  font-style: normal; 
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;

  color: #606060;
}

.btn-registrate-s{
  margin-left: 22px;
  margin-top: 123px;
  width: 58%;
  background: #0FADCE; 
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}



.bt_register_carrosel { 
  padding-top: 1px;
}

.bt_register_carrosel .btn-s3 .text-calibri{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
/*estilos botones de medico y noticias*/
.btn-tab{
  color: #4F4F4F;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  text-align: center;
  height: 44px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #0FADCE !important;
  border-color: #dee2e6 #dee2e6 #fff;
}

/*input del modal update datos user*/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #0FADCE transparent transparent transparent !important;
 
}
.select2-container--default .select2-selection--single {
  border-top: 0px solid #ced4da;
  border-right: 0px solid #ced4da;
  border-left: 0px solid #ced4da;
  border-bottom: 0px solid #ced4da;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #0FADCE; 
    color: #fff;
}

/*Diseños y stilos de modal update user*/
.img-up-per{
  margin-left: 33px !important;
}

#dropdownMenuLinkImg{
  position: relative;
  left: -42px;
  top: 51px;
  
}
#preViewImg2{
  width: 120px;
  height: 120px;
  object-fit: cover;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
 
  display: inline-block;
  padding: 1px ;
  cursor: pointer;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  /* Gray 2 */

  color: #4F4F4F;
}

  /*slider home*/
  .rounded-circle {
    border-radius: 50%!important;
    width: 12px !important;
    height: 12px  !important;
  }

  #img_doc{
    width: 220px;
    height: 220px;
    object-fit: cover;

  }

  .imgran{
    width: 687.55px;
    height: 459.05px;
    left: 577.51px;
    top: 189.95px;
  }

  .btn-s3{
    text-align: center;
    background: #0FADCE;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto !important;
    width:24vw ;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  
  /*estilos de sidebar left*/

  .logut-btn{
    display: none !important;
  }
  .navbar_sm{
    display: none !important;
    
  }
  .main-sidebar{
    border-right: 2px solid #0FADCE !important;
    border-top: 2px solid #0FADCE !important;
    margin-left: -328 !important;
    border-radius: 5px !important;
   
  }
  .text-new-user{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #0FADCE;
  }

  .btn-registrate-app{
    width: 144px;
    height: 38px;
    background: #0FADCE;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-align: center;
  }
  .img_nav{
    width: 55px;
    height:auto ;

    position: absolute;
    left: 12.27%;
    right: 70.67%;
    top: 0.85%;
    bottom: 98.2%;
  }

  .sidebar-collapse .main-sidebar, .sidebar-collapse .main-sidebar::before {
      margin-left: -320px !important;
  }

 
  .bag{
    
    position: absolute !important;
    width: 11px !important;
    height: 12px !important;
    left: 278px !important;
    top: 42px !important;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;
  }

  /*stilo de slider imagen noticias*/
  .slide .slide_title_noti{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 14px !important;
    line-height: normal !important;

   
  }
  .slide_des_noti{
   /* font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;*/

  }

  .text-medico-slide{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    margin-top: 5px;
  }

  /*noticia*/
  .img-not{
    width: 100%;
    object-fit: cover;
  }
  .detalle-notice{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: justify;
    /*color: blue;*/
  }

  #sliderPubli .carousel-inner .carousel-item{
   margin-bottom: 70px !important;
  /* padding-bottom: 56px !important;*/
  }
  .attachment_desc{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
  }
  .text-descript-publicaciones{
   font-family: 'Calibri';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-align: justify;
   color: #000000;
  }

/* ____________________________________________________________________________________________ */

  @media (min-width:100px) and (max-width: 767.98px) { 
    
    /*slide medico*/
    .img_slide_medico{
      width: 100px;
      height: 100px;
    }
    .imgl{
          width: 120px;
          margin:0px ;px;
    }
    .linkce{
      text-align: center;
      padding: 0px !important;
      margin: auto;
      text-align: center;
    }
    .ml-5{
      margin: 0px !important;
    }
    .h1{
      font-size: 2em;
    }


    /*stylo siderbar left*/
    .btn_search{
      width: 29.35px !important;
      height: 30px !important;
      left: 322px;
      top: 34px;
      padding: 0px;
      background: #F5F5F5;
      border-radius: 20px;
      float: left;
    }
    .search_app{
       background: #F5F5F5 !important;
       border-radius: 20px 0px 0px 20px !important; 
       width: 70% !important;
       margin-left: 22px;
       height: 27px !important;
    }

    .btn_icon_search{
      border: 1px solid #ced4da;
      background: #F5F5F5 !important;
      border-radius: 0px 20px 20px 0px !important; 
      height: 27px !important;

    }
    .dropdown-menu-lgz{
      width: 100% !important;
      top: 85px !important;
      left: 4% !important;
     
      transform: translate3d(-12px, -44px, 0px) !important;
    }
    .fa_icon{
      margin-left: -4px !important;
      margin-top: -1114px !important;
    }
    .main-sidebar {
      display:block !important;
      overflow-y: visible !important; 
    }
   
    
    .btn-registrate {
      display: none;
    }
    .navbar_lg{
      display: none;
    }
    .navbar_sm{
      display: block !important;
      /*position: fixed !important;
      height: 51px !important;
      margin-top: 22px;*/
    }
    .ocult{
      display: none;
    }

    .logut-btn{
      display: block !important;
    }


    .btn_icon {
      text-align: right !important;
      /*float: right !important;*/
      margin-left: 55% !important;
     
    }
    /*estilos del slider de informacion*/
    /*icon flechas slider*/
    .carousel-control-next,  .carousel-control-prev{
      display: none ;
    }

    /*.btn-s3{
      text-align: center;
     
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;

      background: #0FADCE;
      box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }*/
    .img-info{
      width: 140px;
      height: auto;
      /*object-fit: cover;*/
      margin: auto !important;
      padding: 0px;
      margin-top: 2px !important;
    }

    .text-cuida-s2{
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #4F4F4F;
    }
    .text-info-s1{
      padding: 2px !important;
      margin: 0px !important;
      text-align: center !important;
      font-family: 'Calibri' !important;
      font-style: normal !important;
      font-weight: 800 !important;
      font-size: 20px !important;
      line-height: 22px !important;
     /* text-align: center !important;*/
      color: #4F4F4F;
    }
    /*dimencion del detalle*/
    .div_conten_info{
      height: 110px;
    }
    #sliderInfo{
      height:370px ;
    }
    /*dimencion del conten de img*/
    .div-info{
      height: 170px;
    }
    
    .card-body {
       padding: 0rem; 
     }
   
    /*slider de informacion*/
    .card-info{
      padding: 0px !important;
      
      height: 330px !important;
    }
    .text-s2{
      color: #13c6ef;
      text-align: center !important;
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      /*line-height: 2px;*/
     
    }
   

      /*noticia*/
      .desc-noticia{
        width: 100% !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
      .title-notice{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
      .detalle-notice{
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
      }

      .text-descript-publicaciones{
        padding-left: 15px !important;
        padding-right: 15px !important;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: justify;
      }
      .username{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 15px !important;
      }
      .description{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700 !important;
        font-size: 9px !important;
        line-height: 11px !important;
      }

      .img-not{
        height: auto;
        object-fit: cover;
      }
      .desc-publica{
        width: 100% !important;ç
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
      .w-50 {
        width: 90%!important;
      }
      .btn-ver-mas-publi{
        width: 90% !important;
        margin-bottom: 22px;
        height: 34px;
      }

      .footer-div-1{
        width: 100%;
        order: 15;
      }
      .bordes-footer{
        border-left: 0px !important;
        border-right: 0px !important;
        border-bottom: 2px solid #0FADCE !important;
        padding-bottom: 22px;
      }
      #contac .card-body .form-group{
        text-align: left !important;
      }
      .btn-form div{
        margin-top: 22px !important;
        padding: 0px !important;
        text-align: center;
        margin-right: 22px !important;
      }
      #btn-contac{
        width: 90%!important;
        padding: 10px !important;
        margin: auto;
        margin-bottom: 78px !important;
      }
      .img-logo-f{
        width: 144px !important;
      }
      .btn-app {
        font-size: 12px !important; 
        height: 60px !important;
        margin: 0 0 5px 5px !important; 
        min-width: 40px !important;
        
        font-weight: 400 !important;
        font-size: 7.06133px !important;
        line-height: 9px !important;
      }
      .dropdown-menu {
        min-width: auto !important; 
        top: 0px; 
        left: 0px; 
        transform: translate3d(-16px, -30px, 0px) !important;
      }
      .dropdown-item {
          
        padding: .2rem 1rem !important;
        /* background-color: transparent; */
        font-family: 'Calibri' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 7.06133px !important;
        line-height: 9px !important;
      }
      .dropdown-menu-notify {
        top: 70px !important; 
        width: 420px !important;
        right: -28px !important
      }
      .carousel-control-next{
        width: 8% !important;
      }
     
     /*acerca de*/
     .text-desc{
      font-family: 'Calibri' !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 19px !important;
     
     }

     /*modal logout*/

     .modal-dialog {
        /* margin: 0px !important;
         width:96% !important;
         margin-right: 1px !important;
         margin-left: 3px !important;
         padding: 0px !important;*/
     }
     #modalLogout{
      margin: 0px !important;
     }
     /*carrucel*/
     .main-carousel{
         padding: 0px !important;
         margin: 0px !important;
         border-radius: 22px;
         height: 74px !important;
      
     }
     .imgTop{
      padding: 0px !important;
       /*margin: 0px !important;*/
     }
     .nav_content{
        margin-top: -11px !important;
        padding: 0px !important;
     }
     .attachment_titulo{
         font-size: 1.5vw;
         line-height: 1.9vw;
         /*color: red;*/
     }
     .attachment_desc{
         font-size: 0.8em;
     }
     .content-item-carrosel{
         margin: 0px !important;
     }

     /*perfil usuario*/
     .user_block{
        margin-top: 15px;
        margin-left: 15px;
        height: 173px;
     }
     #usernamePerfil{
        margin-top: 8px !important;
        width: 142.35px !important;
        height: 20.68px !important;
        left: 119.82px !important;
        top: 55.03px !important;

        font-family: 'Calibri' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 17px !important;
        color: #4F4F4F;
     }
     #description{
        width: 51.1px;
        height: 18.25px;
        left: 119.82px;
        top: 76.93px;

        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        /* Gray 2 */

        color: #4F4F4F;
     }
     .img_user_perfil_app{

        width: 73px;
        height: 73px;
        left: 31px;
        top: 38px;

        background: #C4C4C4;
     }

      /*footer */
     .main-footer_ {
       display: block;
        background: #fff;
        border-top: 1px solid #dee2e6; 
        color: #869099;
        padding: 1rem; 
        position: fixed;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        z-index: 1032;
        padding: 1px;
        height: 50px;
     }
     .text_item_footer{
      
      margin-top: -8px !important;
      font-family: 'Calibri';
      font-style: normal;
      font-weight: 400;
      font-size: 12px !important;
      line-height: 22px;
      /*color: #4F4F4F;*/
     }
     .badge_coins{
       position: absolute;
       width: 5%;
       height: auto;
       left: 288px;
       top: 12px;
       padding: 3px !important;
       font-family: 'Calibri';
       font-style: normal;
       font-weight: 700;
       font-size: 10px;
       line-height: 12px;
       background: #0FADCE;
       color: #FFFFFF;
     }
     /*texto contactanos footer*/
     .contact_{
        margin-top: 22px !important;
     }

     .card-deck_ {
       display:unset !important; 
       padding: 0px !important;
      
     } 
     .card-deck_ .card{
       padding: 0px !important;
       margin: 0px !important;
     }

     
  }

  /*slider de informacion */
  @media (min-width: 767.98px) and (max-width: 1909.98px) { 
    .text-info-s1 {
      font-size: 3vw;
      line-height: 3vw;
      padding: 0px !important;
      background: #blue;
    }
    .img-info{
      width:22vw;
      text-align: center;
    }
    
    #sliderInfo .carousel-control-next,  .carousel-control-prev{
      margin-top:170px !important;
    }
    .bt_register_carrosel .btn-s3 .text-calibri {
        font-size: 17px;
    }
    
  }

  @media (min-width: 767.98px) and (max-width: 1377.98px) { 
    /*nosotros */
    .card-deck_ {
      display:unset !important; 
      padding: 0px !important;
     
    } 
    .card-deck_ .card{
      padding: 0px !important;
      margin: 0px !important;
    }
    .card-info{
      height: 360px ;
    }
    /*noticia*/
    .title-notice{
      line-height: 1.8vw;
      font-size: 1.8vw;
    }

    #sliderPubli .carousel-inner .carousel-item .card{
      width: 75%!important;
    }

     

  }


  @media (min-width: 768px) and (max-width: 1016px) { 
    .card-info{
      height: 350px ;
    }
    .div_3_text{
      width: 100%;
      margin: auto;
    }
    
  }


