.ocult{
    display: none;
}

.button-container{
    display:inline-block;
    position:relative;
    text-align: center;
    width: 240px;
}
  
.button-container span{
    position: absolute;
    bottom:0.1em;
    right:1em;
    background-color:#8F0005;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    /*border: 1px solid #ccc;*/
    display: inline-block;
    padding: 1px ;
    cursor: pointer;
}
#preViewImg2{
    width: 180px;
    height: 180px;
    object-fit: cover;
}
#dropdownMenuLinkImg{
    position: relative;
    left: -42px;
    top: 51px;
}
/*estilos botones de medico y noticias*/
  .btn-tab{
    color: #4F4F4F;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    text-align: center;
    /*height: 20px;*/
  }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #0FADCE !important;
    border-color: #dee2e6 #dee2e6 #fff;
} 

.nav_content {
    display: none;
}

@media (min-width:100px) and (max-width: 767.98px) { 
    .content-header {
        display: none;
    }
    .container-fluid{
       /*padding: 0px !important;*/
       margin-top: 64px !important;
       padding-bottom: 100px !important;
   }
    .content-wrapper>.content {
        /*padding: 0px !important;*/
        /*padding-left: 1px !important;*/
    }
    #product-tab{
        width: auto !important;
    }
    #product-tab .nav-link{
        width: 50%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    
        text-align: center;
        color: #4F4F4F;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0FADCE !important;
        background-color: #fff !important;
        border-color: #dee2e6 #dee2e6 #fff;
        border-bottom: 2px solid #0FADCE;
        border-right: 0px !important;
        border-left: 0px;
        /*padding-bottom: 21px;*/
    } 
  
    /*img perfil*/
    #preViewImg2{
        width: 75px;
        height: 75px;
        object-fit: cover;

    }
    #dropdownMenuLinkImg{
        position: relative;
        left: -31px;
        top: 25px;

    }

    .button-container{
        display:inline-block;
        position:relative;
        text-align: right;
        width: 110px;
       
    }
      
    .button-container span{
        position: absolute;
        bottom:0.1em;
        right:1em;
      
        border-radius:1.5em;
        color:white;
        text-transform:uppercase;
        padding:1em 1.5em;
    }
    .text-content{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #4F4F4F;
    }

    /*publicaciones guardada*/
    .username {
        font-family: 'Calibri' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 15px !important;
        color: #000000 !important;
    }
    .description{
        font-family: 'Calibri' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 9px !important;
        line-height: 11px !important;
        color: #000000 !important;
    }
    .text-descripcion{
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: justify;

        color: #000000;
    }

   
    
    .dropdown-menu {
      min-width: auto !important; 
      top: 0px; 
      left: 0px; 
      transform: translate3d(-16px, -30px, 0px) !important;
    }
    .dropdown-item {
        
      padding: .2rem 1rem !important;
      /* background-color: transparent; */
      font-family: 'Calibri' !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 7.06133px !important;
      line-height: 9px !important;
    }
}